<% if (erros) {%>


<div class="row">
    <div class="col my-3">
      <div class="alert alert-danger"> Um erro qualquer</div>
        <% erros.forEach(erro => { %>
            <% = erro %><br>
        <% });%>
    
    </div>
</div>

 
<% } %>